#testimonials {
    $width-size: 70vw;

    background-color: rgba(255, 255, 255, 0.1);
    margin: px-to-rem(200px) 0px;
    position: relative;
    padding: 150px 0px;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);


    #testimonials-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $width-size;
        background-color: white;
    }


    $dark-blue: #192A56;
    $light-blue: #3C40C6;

    article {
        position: relative;
        z-index: 20;
        margin: px-to-rem(40px) 0px px-to-rem(52px);
        text-align: center;

        h2 {
            text-transform: uppercase;
            font-size: px-to-rem(36px);
            margin-bottom: px-to-rem(24px);
        }

        h5 {
            font-size: px-to-rem(24px);

            span {
                font-size: px-to-rem(36px);
                color: $light-blue;
            }
        }

        #reviews {
            display: flex;
            color: white;
            margin: px-to-rem(62px) px-to-rem(20px);

            .review {
                background-color: $light-blue;
                margin: 0px px-to-rem(18px);
                padding: px-to-rem(24px);
                transition: all .4s;

                .reviewer-details {

                    display: flex;
                    align-items: center;

                    figure {
                        border-radius: 50%;
                        background-size: cover;
                        height: px-to-rem(100px);
                        width: px-to-rem(100px);
                    }


                    .details {
                        margin-left: px-to-rem(18px);
                        letter-spacing: 1px;

                        .name {
                            font-size: px-to-rem(18px);
                            text-transform: uppercase;
                            margin-bottom: px-to-rem(6px);
                        }

                        .from {
                            font-size: px-to-rem(14px);
                            text-align: left;
                        }
                    }
                
                }

                .review-text {
                    font-size: px-to-rem(16px);
                    margin-top: px-to-rem(14px);
                    text-align: left;
                    line-height: 200%;
                }

            }


            .review:nth-of-type(1) {
                figure {background-image: get-image("face-1.jpg");}
                background-color: $dark-blue;
                }

            .review:nth-of-type(2) figure {background-image: get-image("face-2.jpg");}

            .review:nth-of-type(3)  {
                figure {background-image: get-image("face-3.jpg");}
                background-color: $dark-blue;
                }

        }

        a {
            display: block;
            color: $dark-blue;
            text-align: center;
            margin-top: px-to-rem(8px);
            transition: all .2s;

            &:hover {
                opacity: .6;
            }
        }
    }
}

//Animation only for laptops
@media only screen and (min-width: 1300px) {
    .review:hover {
        transform: scale(1.05, 1.05);
        box-shadow: 5px 5px 20px black;
    }
}

//for phones=============================================




@media only screen and (max-width: 1300px) {

    #testimonials {
    $width-size: 70vw;

    background-color: rgba(255, 255, 255, 0.1);
    margin: px-to-rem(200px) 0px;
    position: relative;
    padding: 150px 0px;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);


    #testimonials-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: $width-size;
        background-color: white;
    }


    $dark-blue: #192A56;
    $light-blue: #3C40C6;

    article {
        position: relative;
        z-index: 20;
        margin: px-to-rem(40px) 0px px-to-rem(52px);
        text-align: center;

        h2 {
            text-transform: uppercase;
            font-size: px-to-rem(36px);
            margin-bottom: px-to-rem(24px);
        }

        h5 {
            font-size: px-to-rem(24px);

            span {
                font-size: px-to-rem(36px);
                color: $light-blue;
            }
        }

        #reviews {
            display: flex;
            color: white;
            margin: px-to-rem(62px) px-to-rem(20px);

            .review {
                background-color: $light-blue;
                margin: 0px px-to-rem(18px);
                padding: px-to-rem(24px);
                transition: all .4s;

                .reviewer-details {

                    display: flex;
                    align-items: center;

                    figure {
                        border-radius: 50%;
                        background-size: cover;
                        height: px-to-rem(100px);
                        width: px-to-rem(100px);
                    }


                    .details {
                        margin-left: px-to-rem(18px);
                        letter-spacing: 1px;

                        .name {
                            font-size: px-to-rem(18px);
                            text-transform: uppercase;
                            margin-bottom: px-to-rem(6px);
                        }

                        .from {
                            font-size: px-to-rem(14px);
                            text-align: left;
                        }
                    }
                
                }

                .review-text {
                    font-size: px-to-rem(16px);
                    margin-top: px-to-rem(14px);
                    text-align: left;
                    line-height: 200%;
                }

            }


            .review:nth-of-type(1) {
                figure {background-image: get-image("face-1.jpg");}
                background-color: $dark-blue;
                }

            .review:nth-of-type(2) figure {background-image: get-image("face-2.jpg");}

            .review:nth-of-type(3)  {
                display: none;
                figure {background-image: get-image("face-3.jpg");}
                background-color: $dark-blue;
                }

        }

        a {
            display: block;
            color: $dark-blue;
            text-align: center;
            margin-top: px-to-rem(8px);
            transition: all .2s;

            &:hover {
                opacity: .6;
            }
        }
    }
}


}