@import "above_fold";
@import "current_users";
@import "footer";
@import "functions";
@import "info_section";
@import "landing";
@import "locations";
@import "reset";
@import "testimonials";
@import "weekly_deals";

* {
    margin: 0;
    padding: 0;
    border: 0;
}